
/*
Colours:
White: #FFF8EC
Dark: #251B23
Pink: #EB8F89
*/

/*
Typsitt:
Title: arial-black
Brödtext: regular-areal
*/

html {
  background-color: #251B23;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.mainWrapper {
  display: flex;
  flex-direction: column; 
}

.block-dark {
  background-color: #251B23;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.footer-dark {
  background-color: #251B23;
  width: 100vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.text-container-dark {
  background-color: #251B23;
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.blockContent {
  width: 90vw;
}

.navBar {
  width: 100%; 
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFF8EC;
  font-family: 'Arial', sans-serif;
}

.navbarLogo {
  height: 4em;
}

.h1 {
  color: #FFF8EC;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-size: 8em;
  line-height: 93%;
  margin-top: 1.1em;
}

.text-container-dark .h1 {
    color: #FFF8EC;
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    font-size: 8em;
    line-height: 93%;
    margin-top: 0.2em;
}

.text-container-dark .h1-pink {
  color: #EB8E89;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-size: 8em;
  line-height: 93%;
  margin-top: 0.2em;
}

.links {
  color: #FFF8EC;
}

.block1-textAndImagesWrapper {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block1-bodyAndTicket {
  width: 50%;
}

.block1-images {
  width: 50%;
  margin-top: 2.5em;
  height: 23em;
  display: flex;
  flex-direction: row;
  justify-content: end;
  
}

.block1-smallImg {
  align-self: baseline;
  padding-right: 4em;
  align-self: flex-end;
}

.body-light {
  color: #FFF8EC;
  width: 55%;
  font-family: 'Arial', sans-serif;
  font-size: 1.1em;
  margin-top: 2.5em;
}

.ticketButton {
  width: fit-content;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  font-size: 1em;
  background-color: #EB8F89;
  border: none;
  margin-top: 5em;
}

.ticketButton:hover {
  cursor: pointer;
}

.block-light {
  background-color: #FFF8EC;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-dark {
  color: #251B23;
  width: 55%;
  font-family: 'Arial', sans-serif;
  margin-top: 0.4em;
}

.block1-body {
  width: 100%;
}

.block2-textAndImagesWrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block2-bodyText {
  width: 90%;
  font-size: 1.1em;
}

.block2Questions {
  margin-top: 2.5em;
}

.questionWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.answer {
  margin-left: 1.7em;
  margin-top: 1em;
}

.arrowIconUp {
  width: 0.8em;
  transform: rotate(-90deg);
  margin-right: 1em;
}

.arrowIconDown {
  width: 0.8em;
  transform: rotate(90deg);
  margin-right: 1em;
}

.questionOpen {
  font-weight: bold;
}

.questionSeparator {
  background-color: black;
  height: 1px;
  width: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.h2-light {
  color: #FFF8EC;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-size: 5em;
  margin-top: 1em;
}

.h2-dark {
  color: #251B23;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-size: 5em;
  margin-top: 1em;
}

.img-small {
  height: 14em;
}

.img-medium {
  height: 20em;
}

.img-large {
  height: 24em;
}

.schemaAndImageWeapper {
  width: 95%;
  display: flex;
  flex-direction: row;
}

.schemaWrapper {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.schemaImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2em;
}

.schemaLine {
  height: 27em;
  background-color: black;
  width: 0.2em;
}

.schemaIcon {
  width: 2.5em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.schemaItems {
  padding-top: 4em;
  width: 70%;
  font-size: 1.1em;
}

.schemaItem {
  margin-bottom: 1.5em;
  width: 100%;
}

.block4-images {
  padding-top: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.block4-imageAndTextTop {
  padding-left: 10em;
  font-weight: bold;
}

.block4-imageAndTextBottom {
  padding-left: 3em;
  font-weight: bold;
}

.projectTeamImages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5em;
}

.projectMemberBackground {
  background-color: #FFF8EC;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8em;
}

.projectMemberImage {
  height: 13em;
  background-color: #D9D9D9;
  width: 100%; 
}

.projectMemberName {
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 0.5em;
  padding-bottom: 0.8em;
}

.projectMemberDesc {
  font-size: 0.8em;
  margin-bottom: 1em;
}